html
    head
        title Luggage Storage: #{businessName}
        link(rel='stylesheet', href='./styles/style.css')
    body
        div.store-wrapper
            h1.header Something HERE
            a.nav-link(href='/') Home
            div.store-list
                each object in businessList
                    each business in object
                        h3 
                            a(href=business.url) #{business.name}
                        img(src=business.image_url, alt="Business' image", width=200, height=200)