* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/travel-photo.jpg");
    background-color: orange;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.content-wrapper{
    width: 25vw;
    height: 25vh;
    background-color: #f7f7f7;
    margin: auto;
    color: #262322;;
}

.store-wrapper{
    align-content: center;
    width: 50vw;
    height: 100vh;
    background-color: #f7f7f7;
    margin: auto;
    color: #262322;;
}

.header, .sub-header{
    text-align: center;
}

.header a{
    text-decoration: none;
    color: #262322;
}

.sub-header{
    margin-top: 5%;
    font-size: 1em;
}

.location-form{
    margin-top: 5%;
    align-self: auto;
    display: flex;
    flex-direction: column;
}

#location-input{
    font-size: 2em;
    text-align: center;
}

#location-sub-btn{
    font-size: 2em;
}

.store-img{
    width: 80%;
    height: 60%;
    margin-left: 10%;
}